package main

// ----- ---- --- -- -
// Copyright 2019 Oneiro NA, Inc. All Rights Reserved.
//
// Licensed under the Apache License 2.0 (the "License").  You may not use
// this file except in compliance with the License.  You can obtain a copy
// in the file LICENSE in the source distribution or at
// https://www.apache.org/licenses/LICENSE-2.0.txt
// - -- --- ---- -----

import (
	"encoding/json"
	"fmt"
	"os"
	"path/filepath"

	"github.com/ndau/generator/pkg/txgen"
	"github.com/ndau/metanode/pkg/meta/transaction"
	"github.com/ndau/ndau/pkg/ndau"
	"github.com/ndau/ndaumath/pkg/address"
	"github.com/ndau/ndaumath/pkg/pricecurve"
	"github.com/ndau/ndaumath/pkg/signature"
	math "github.com/ndau/ndaumath/pkg/types"
)

func check(err error) {
	if err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

func main() {
	{{- range .Transactions}}
	{{- range .Fields}}
	{{- if .FallibleLiteral}}
	{{.LiteralName}}, err := {{.Literal}}
	check(err)
	{{- end}}{{end}}{{end}}

	transactions := []metatx.Transactable{
	{{- range .Transactions}}
		&ndau.{{.Name}}{
			{{- range .Fields}}
			{{.Name}}: {{if .FallibleLiteral}}{{if .IsSlice}}{{.Type}}{{"{"}}{{end}}{{if .PointerLiteral}}*{{end}}{{.LiteralName}}{{if .IsSlice}}{{"}"}}{{end}}{{else}}{{if .PointerLiteral}}*{{end}}{{.Literal}}{{end}},
			{{- end}}
		},
	{{- end}}
	}

	// ensure output directory exists
	err = os.MkdirAll(txgen.ExamplesPath, 0700)
	check(err)

	for _, tx := range transactions {
		out, err := os.Create(filepath.Join(txgen.ExamplesPath, metatx.NameOf(tx)+".json"))
		check(err)
		defer out.Close()

		js, err := json.MarshalIndent(tx, "", "  ")
		check(err)
		out.Write(js)
	}
}
