package ndau

import (
	"testing"

	"github.com/ndau/ndaumath/pkg/address"
	"github.com/ndau/ndaumath/pkg/signature"
	math "github.com/ndau/ndaumath/pkg/types"
	"github.com/stretchr/testify/require"
)

{{range .Transactions -}}
func Test{{.Name}}_SignableBytes(t *testing.T) {
	_, private, err := signature.Generate(signature.Ed25519, nil)
	require.NoError(t, err)
	{{- range .Fields}}{{if and (not (.IsSignature)) (.FallibleLiteral) }}
	{{.LiteralName}}, err := {{.Literal}}
	require.NoError(t, err)
	{{- end}}{{end}}

	// {{.Example.SignableBytes | Base64}}
	expect := {{.Example.SignableBytes | BytesLiteral}}
	require.NotEmpty(t, expect, "test not properly set up")

	// note the "want" field for both of these tests is identical
	tests := []struct {
		name string
		tx   *{{.Name}}
	}{
		{
			"no signatures",
			New{{.Name}}(
				{{- range .Fields}}
				{{- if not .IsSignature}}
				{{- if eq .Type "[]byte"}}
				// {{.Name}} as b64: {{.Comment}}
				{{- end}}
				{{if .FallibleLiteral}}{{if .IsSlice}}{{.Type}}{{"{"}}{{end}}{{if .PointerLiteral}}*{{end}}{{.LiteralName}}{{if .IsSlice}}{{"}"}}{{end}}{{else}}{{if .PointerLiteral}}*{{end}}{{.Literal}}{{end}},
				{{- end}}
				{{- end}}
			),
		},
		{
			"with signature",
			New{{.Name}}(
				{{- range .Fields}}
				{{- if not .IsSignature}}
				{{- if eq .Type "[]byte"}}
				// {{.Name}} as b64: {{.Comment}}
				{{- end}}
				{{if .FallibleLiteral}}{{if .IsSlice}}{{.Type}}{{"{"}}{{end}}{{if .PointerLiteral}}*{{end}}{{.LiteralName}}{{if .IsSlice}}{{"}"}}{{end}}{{else}}{{if .PointerLiteral}}*{{end}}{{.Literal}}{{end}},
				{{- end}}
				{{- end}}
				private,
			),
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			require.Equal(t, expect, tt.tx.SignableBytes())
		})
	}
}
{{end}}
